* {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

li{
    list-style: none;
}

#body_style
{
    background-color: #F6F5F2;
}
#header_bar
{
    background-color: #F3D0D7;
}
.begin {}

.console {
    background-color: black;
    margin: 50%;
    width: 100px;
    height: 100px;
}

#footer_style
{
    background-color: #F0EBE3;
}