* {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    /* TODO: check the spacing with another value or style*/
    letter-spacing: 20px;
    font-weight: 600;
    font-size: 40px;
}

#body_style {
    background-color: #F6F5F2;
}

#header_bar {
    background-color: #F3D0D7;
    text-align: center;
    padding: 2%;
}

ul{
    padding-inline-start: 0;
}

#mode ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

#icon_container:nth-of-type(odd) {
    background-color: pink;
}

.icon {
    border-radius: 50%;
    width: 50%;
}

#bias_option {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

#icon_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

#begin {
    margin: 10% 20%;
    background-color: pink;
    padding: 5%;
    text-align: center;

}

#openConsole
{
    margin-top: 5%;
    padding: 2%;
    border-radius: 15%;
}

#openConsole:hover
{
    background-color: black;
    color: white;
}

.console {
    background-color: black;
    margin: 50%;
    width: 100px;
    height: 100px;
}

#footer_style {
    background-color: #F0EBE3;
    padding: 2%;
    text-align: center;
}

      

.hide {
    display: none;
}